extends layout

block content
  h1= title
  - let image_names = ["C1.jpg","C2.jpg","C3.webp","C4.png","C5.jpg"]
   -for(let i=0; i<3; i++){
    -let random= Math.floor(Math.random()*5)
     img(src=`/images/${image_names[random]}` alt=`Image Name Cat${random}` height="300px" width="300px")
    -}